<nurse_header>

<nav class="round">
  <ul>
    <li><%= link_to({:controller => "pages", :action => "nurse"}) do %>Nurse Home<% end %></li>
	<li><%= link_to({:controller => "pages", :action => "embryologist"}) do %>Embryology Home<% end %></li>
	<li><%= link_to({:controller => "pages", :action => "physician"}) do %>Physician Home<% end %></li>
	<li><%= link_to({:controller => "pages", :action => "administrator"}) do %>Administrator Home<% end %></li>
  </ul>
</nav>

</nurse_header>
