<div class="grid_12 alpha omega top_options">

	<div class="push_1 grid_5 alpha">
		<div class="home_option round">
			<%= link_to({:controller => "pages", :action => "physician"}, :class => "round") do %><h2>Physician</h2><br/>Demo<% end %>
		</div>	
	</div>	

	<div class="push_1 grid_5 omega">
		<div class="home_option round">
			<%= link_to({:controller => "pages", :action => "embryologist"}, :class => "round" ) do %><h2>Embryologist</h2><br/>Demo<% end %>
		</div>
	</div>

</div>

<div class="grid_12 alpha omega bottom_options">
	
	<div class="push_1 grid_5 alpha">
		<div class="home_option round">
			<%= link_to({:controller => "pages", :action => "nurse"}, :class => "round") do %><h2>Nurse</h2><br/>Demo<% end %>
		</div>	
	</div>	

	<div class="push_1 grid_5 omega">
		<div class="home_option round">
			<%= link_to({:controller => "pages", :action => "administrator"}, :class => "round") do %><h2>Administrator</h2><br/>Demo<% end %>
		</div>
	</div>
	
</div>